*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
   color: #333;
    padding: 10px 20px; 
    height: 50px;
  }
   .logo-png{
    height: 100px;
    width: 150px;
    margin-left: 10rem;
   }
  
  .nav-links {
    display: flex;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #333; 
    margin-left: 30px; 
    font-size: 16px;
  }
  
  .nav-links a:hover {
    color: #ffcc00; 
  }
  
  
  .section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: #f4f4f4;
    color: #333; 
  }
  
  .text {
    flex: 1;
    margin-right: 20px; 
  }
  
  .text h1 {
    font-size: 40px; 
    margin-bottom: 10px; 
    margin-left: 20rem;
  }
  
  .text p {
    font-size: 16px;
    margin-left: 20rem; 
  }

 .image{
    height: 450px;
    width: 350px;
    border-radius: 10px;
    margin-right: 10rem;
 }
  